.images-line__item {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media(min-width: 960px) {
    .images-line__item:first-child,
    .images-line__item:last-child {
        max-width: 160px;
    }
}

@media(min-width: 640px) {
    .images-line__item {
        height: 320px;
    }
}

@media(max-width:640px) {
    .images-line__item:last-child {
        grid-column: span 2;
    }
}