.page__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 25px;
    text-transform: uppercase;
}

.page__title:after {
    content: '';
    display: block;
    width: 90px;
    margin: 21px auto 0;
    height: 3px;
    background-color: #000000;
}

@media(max-width: 640px) {
    .page__title {
        font-size: 30px;
    }
}