.promo__title_category {
    font-size: 34px;
    letter-spacing: 0px;
    font-weight: 300;
    margin: 0 0 13px;
}

@media(max-width: 640px) {
    .promo__title_category {
        font-size: 24px;
    }
}